body {
    margin: 0;
    padding: 0;
    background: #ffcce6; /* soft pink */
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    background: white;
    padding: 35px;
    border-radius: 20px;
    width: 330px;
    text-align: center;
    box-shadow: 0px 4px 20px rgba(255, 105, 180, 0.3);
}

h2 {
    margin-bottom: 5px;
    color: #ff4da6;
}

.subtitle {
    margin-bottom: 20px;
    color: gray;
    font-size: 14px;
}

input {
    width: 90%;
    padding: 12px;
    margin: 8px 0;
    border: 2px solid #ffb3d9;
    border-radius: 10px;
    font-size: 15px;
}

button {
    width: 96%;
    padding: 12px;
    background: #ff4da6;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
}

button:hover {
    background: #e60073;
}

.foot {
    margin-top: 15px;
    font-size: 13px;
    color: gray;
}

.error {
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}
